@charset "UTF-8";

@media screen and (min-width: 1000px) {

    section {
        width: 1000px;
        height: 500px;
    }

    header {
        display: grid;
        grid-template-columns: 40% 60%;
    }

    header h1{
        text-align: left;
        font-size: 4em;
    }

    header .summary {
        text-align: left;
        font-size: 1.5em;
    }

    .avaliacao {
        width: 500px;
        height: 37px;
        flex-direction: row;
    }

    .avaliacao img{
        padding-right: 5px;
    }

    .avaliacao .star {
        margin-right: 10px;
    }

    #item2 {
        margin-left: 40px;
    }

    #item3 {
        margin-left: 80px;
    }

    .card {
        display: flex;
        height: 200px;
        width: 100%;
    }

    #comentario1 {
        height: 180px;
        padding: 20px;
    }

    #comentario2 {
        margin-top: 40px;
        height: 180px;
        padding: 20px;
    }

    #comentario3 {
        margin-top: 80px;
        height: 180px;
        padding: 20px;
    }

}